* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
  font-family: "Inter", sans-serif;
}


/* container */

.container{
    max-width: 1440px;
    margin: auto;
}


/* fonts */

.noto-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* shared-styles */

.display-flex{
    display: flex;
}

.bold{
    font-weight: bold;
}

.orange-1{
    color: #E95A08;
}

.gray-2{
   color:rgba(0, 0, 0, 0.5) ; 
}

.font-22{
    font-size: 22px;
}

/* navbar */

.navbar{
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 20px auto;
}

.options{
    display: flex;
    gap: 20px;
    align-items: center;
}

.cart{
    gap: 5px;
    align-items: center;
}


.btn-1{
    text-decoration: none;
    color: black
}

.cart-img{
    width: 24px;
    height: 24px;
}

.gray-1{
    color: #8987A1;
}

/* banner-1 */

.banner-1{
    margin: 150px auto;
}
.banner-1-text>h1{
    font-weight: bold;
    font-size: 65px;
}


/* cards */

.our-plants-1{
    flex-direction: column;
    align-items: center;
   
}

.our-plants-2>h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.our-plants-2>p{
    text-align: center;
    font-size: 22px;
    font-weight: 400px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.card{
    margin-top: 50px;
    text-align: center;
    gap: 20px;
    margin-bottom: 50px;
}

.card>a{
    margin-top: 20px;
    text-decoration: none;
    border: none;
    font-size: 16px;
    background: rgb(233, 90, 8);
    color: white;
    padding: 20px 82px;
}

.card>h6{
    margin:30px;
}


/* Banner-2 */

.banner-2>section>h1{
    font-size: 50px;
    color: black;
}

.banner-2{
    align-items: center;
    gap: 80px;
    margin-top: 150px;
}

.banner-2>section>ul>li{
    margin-bottom: 20px;
    margin-left: 50px;
}

.banner-2-txt{
    width: 100%;
}

.badge1{
    margin-left: 850px;
    margin-bottom: -320px;
    width: 286px;
    height: 286px;
    position: relative;
    filter: drop-shadow(0 15px 5px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    z-index: 10;
}


/* banner-3 */

.banner-3-txt{
    margin-top: 150px;
    text-align: center;
}

.banner-3-txt>h1{
    font-size: 50px;
}

.banner-3-txt>p{

}

.banner-3-images-1{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    gap: 20px;
}

.banner-3-images{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}

.border-radius{
    border-radius: 4%;
    filter: brightness(60%);
}

.image-box{
    position: relative;
    width: 100%;
    display: inline-block;
}

.image-box-1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    pointer-events: none;
}

.image-box-2{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    pointer-events: none;
    cursor: pointer;
}

.image-box-3{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    pointer-events: none;
    cursor: pointer;
}

.image-box-4{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    pointer-events: none;
    cursor: pointer;
}









/* Responsive */


@media (max-width: 768px){

    .container{
    max-width: 100%
    margin: auto;
    }

    .logo{
        width: 63px;
        height: 38px;
    }

    .navbar{
        margin: 16px 16px;
    }

    .hide-mobile{
        display: none;
    }

    .banner-1{
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
    }

    .banner-1-text>h1{
        font-size: 22px;
        margin-top: 20px;
    }

    .banner-1-text>p{
        font-size: 14px;
    }

    .banner-1-img>img{
        width: 100%;

    }

    .banner-1-text{
        margin: 0 16px;
    }

    .our-plants-2>h1{
        font-size: 24px;
    }

    .our-plants-2>p{
        font-size: 14px;
    }

    .card-container{
    grid-template-columns: repeat(2,1fr);

    }

    .card>img{
        max-width: 100%;
    }

    .card>a{
    margin-top: 10px;
    text-decoration: none;
    border: none;
    font-size: 16px;
    background: rgb(233, 90, 8);
    color: white;
    padding: 15px 30px;
    }

    .banner-2{
        flex-direction: column;
        margin: auto;
    }

    .banner-2-img>img{
        margin-top: 20px;
        max-width: 100%;
    }

    .banner-2>section>h1{
    font-size: 30px;
    margin-top:0px;
    
    }

    .banner-2>section>ul>li{
    font-size: 16px;    
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 0px;
    text-align: justify;
    margin-right: 30px;
    }

    .banner-3-images-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .banner-3-images{
    display: flex;
    flex-direction: column;
    align-items: center;

    }

    .banner-3-images-2{
    max-width: 100%;
    margin: auto;
    }






}